{{define "book_search"}}
<h1>Buscar</h1>

<div class="card">
  <h3>Filtros</h3>
  <form method="GET" action="/ui/books/search">
    <div class="grid-2">
      <div>
        <label>Texto</label>
        <input name="q" value="{{.Q}}" placeholder="Título, ISBN, etc." />
      </div>
      <div>
        <label>Autor</label>
        <input name="author" value="{{.Author}}" placeholder="Ej: Stephen King" />
      </div>
    </div>

    <label>Categoría</label>
    <input name="category" value="{{.Category}}" placeholder="Ej: Programación" />

    <button type="submit">Buscar</button>
  </form>
</div>

<div class="card" style="margin-top:18px;">
  <h3>Resultados</h3>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Categoría</th>
        <th>Ver</th>
      </tr>
    </thead>
    <tbody>
      {{range .Books}}
      <tr>
        <td>{{.ID}}</td>
        <td>{{.Title}}</td>
        <td>{{.Author}}</td>
        <td>{{.Category}}</td>
        <td><a class="link" href="/ui/books/{{.ID}}">Detalle</a></td>
      </tr>
      {{else}}
      <tr><td colspan="5" class="hint">No hay resultados.</td></tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
