{{define "content"}}
<h1 class="page-title">Usuarios</h1>

<div class="grid grid-2">
  <div class="card">
    <h3>Crear usuario</h3>

    <form method="POST" action="/ui/users">
      <label>Nombre</label>
      <input name="name" placeholder="Ej: Juan Pérez" required />

      <label>Email</label>
      <input name="email" type="email" placeholder="ej: correo@demo.com" required />

      <label>Rol</label>
      <select name="role" required>
        {{range .Roles}}
          <option value="{{.}}">{{.}}</option>
        {{end}}
      </select>

      <button type="submit">Crear</button>
    </form>
  </div>

  <div class="card">
    <h3>Listado</h3>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Activo</th>
        </tr>
      </thead>
      <tbody>
        {{range .Users}}
        <tr>
          <td>{{.ID}}</td>
          <td>{{.Name}}</td>
          <td>{{.Email}}</td>
          <td>{{.Role}}</td>
          <td>{{.Active}}</td>
        </tr>
        {{else}}
        <tr><td colspan="5" class="mutedText">No hay usuarios.</td></tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>
{{end}}
